<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rendering</title>
</head>

<body>
    <div id=root></div>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel">
        // const myCart = [];
        // const order = (cart, item) => cart.push(item);
        // order(myCart, 'videojs')
        // const calculate = (x,y) => x * y * 5;
        // const paragraph = <p key="randomParagraph">{JSON.stringify(myCart)}</p>;
        // const getText = name => `My name is ${name}`;
        // const calculate = (x,y) => x * y;
        // const getSetAction = name => ({type: 'SET_NAME', name});
        // const Paragraph = ({text}) => <p>My name is {text}</p>
        // const container1 = <div key="container1"><Paragraph text='djdj'/></div>;
        // const container2 = <div key="container2">{calculate(10, 20)}</div>;
        // const container3 = <div key="container3">{JSON.stringify(getSetAction('djdj'))}</div>;
        // ReactDOM.render([container1, container2, container3], root);
        // const ErrorBlock = ({error}) => 
        //     error.hasError ? <p>{error.message}</p>
        //     : <p>Everything is just fine!</p>
        // ;
        // const error = {
        //     hasError: Math.random() > 0.7,
        //     message: 'O dear, run for the hills!'
        // }
        // const container = (
        //     <div>
        //         <ErrorBlock error={error}/>
        //     </div>
        // );
        // ReactDOM.render(container, root);
        const Paragraph = ({text}) => <p>{text}</p>
        const Section = ({headingText, children}) =>
            <section>
                <h1>{headingText}</h1>
                {children}
            </section>;
        const SectionBlock = () => 
            <Section headingText="My first blog post">
                <Paragraph text="My first post text."/>
                <Paragraph text="My second paragraph."/>
            </Section>
        ReactDOM.render(<SectionBlock/>, root);
    </script>
</body>

</html>